{% extends '/layout/app.html' %}

{% block content %}
<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title text-primary">
        <span class="material-symbols-outlined"> query_stats </span>
         Como Usar
      </h5>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title text-primary">
        <span class="material-symbols-outlined"> pages </span>
         Páginas
      </h5>
    </div>
    <div class="card-body">
      {% for pagina in sobre_essa_pagina %}
        <div class="mb-3" id="{{pagina}}">
          <h3 class="mb-1">{{pagina | title}}</h3>
          {% for conteudo in sobre_essa_pagina[pagina] %}
            <p class="text-muted mb-1">{{conteudo | markdown | safe}}</p>
          {% endfor %}
        </div>
        <hr>
      {% endfor %}
    </div>
  </div>
</div>
<footer class="footer footer-transparent d-print-none">
  <div class="container-xl">
    <div class="row text-center align-items-center flex-row-reverse">
      <div class="col-12 col-lg-auto mt-3 mt-lg-0">
        <ul class="list-inline list-inline-dots mb-0">
          <li class="list-inline-item">
            Copyright © 2024
            <a href="." class="link-secondary">Miscere</a>.
            Todos os Direitos Reservados.
          </li>
          <li class="list-inline-item">
            <a href="#" class="link-secondary" rel="noopener">
              v 1.1.8
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
