{% extends 'base.html' %}

{% block layout %}

<div class="page" style="width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center;">
    <form class="card" method="POST" action="{{ url_for('post_login') }}">
        <div class="card-body text-center">
            {{ material_symbol('book') | safe}}
            <h3>CADERNINHO</h3>
            <p>Bem-vindo!</p>
            {% if message %}
                <span class="text-danger">{{message}}</span>
            {% endif %}
            <div class="datagrid">
                <div class="datagrid-item">
                    <div class="datagrid-title">
                        Email
                    </div>
                    <div class="datagrid-content">
                        <input class="form-control" type="email" name="email">
                    </div>
                </div>
            </div>
            <br>
            <div class="datagrid">
                <div class="datagrid-item">
                    <div class="datagrid-title">
                        Senha
                    </div>
                    <div class="datagrid-content">
                        <input class="form-control" type="password" name="senha">
                    </div>
                </div>
            </div>
            <hr>
            <div class="ms-auto">
                <input class="btn btn-primary" type="submit" value="Entrar">
            </div>
        </div>
    </form>
</div>
  
{% endblock %}