{% for navbar_link in navbar.links %}
    {% with class='nav-item active' if navbar_link.active else 'nav-item' %}
        <li class="{{class}} cursor-pointer">
            <a href="{{ navbar_link.url }}" class="nav-link cursor-pointer" {{'aria-current="page"' if is_active else ''}}>
                <span class="nav-link-title">
                    {{ navbar_link.symbol | safe }}
                    {{ navbar_link.title }}
                </span>
            </a>
        </li>
    {% endwith %}
{% endfor %}