
<div class="col-12 pagination d-none">
    <div class="btn-list">
      <button class="btn">
        {{ material_symbol('chevron_left') | safe }}
      </button>
      <button class="btn">1</button>
      <button class="btn">2</button>
      <button class="btn">3</button>
      <button class="btn">4</button>
      <button class="btn">5</button>
      <button class="btn">6</button>
      <button class="btn">
        {{ material_symbol('chevron_right') | safe }}
      </button>
    </div>
    <span class="text-secondary">Visualizando 10 de 10 registros</span>
</div>