{% extends 'layout.html' %}

{% block content %}
<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title text-primary">
        <span class="material-symbols-outlined"> info </span>
         Sobre o KDerninho
      </h5>
    </div>
    <div class="card-body">
        <h3>Introdução</h3>
        <p>O <code>KDerninho</code> surgiu para automatizar o fluxo complexo e custoso de preencher tabelas para estimar preços, gerenciar estoque e manter tudo em dia.</p>
        <p>Em conjunto com a <a href="https://instragam.com.br">@herbaria8</a>, esse software tem sido aprimorado a cada dia para tornar a gestão de sua cozinha indepentende mais prática, assim você foca no que importa.</p>
        <h3>Como Incentivar</h3>
        <p>Esse é um projeto independente que ainda está em fase de testes, e é sustentado pelos seus criadores e os assitantes Premium.</p>
        <p>Estamos abertos a conversar sobre possíveis interesses comerciais através do email <a href="miscere.contato@gmail.com">miscere.contato@gmail.com</a>.</p>
        <h3>Atualizações</h3>
        <kbd>Versão b2.5</kbd> <b>Em Desenvolvimento</b>
        <ul>
            <li>Tela "sobre a aplicação"</li>
            <li>Tela de criação de conta</li>
            <li>Geração de QR Code p/ chave PIX da organização</li>
            <li>Possível integração com Mercado Pago</li>
            <li>Upload e download de CSV (Próxima versão)</li>
            <li>Tela "Organização" (Próxima versão)</li>
        </ul>
        <kbd>Versão b2.0</kbd> <b>Atual</b>
        <ul>
            <li> Formulários verticais em modal</li>
            <li> Padronizar método `dict()` em entidades para preencher `data-bs-payload`
                <ul>
                    <li> Atualizar JS para pegar `data-bs-payload` de `tr` ao clicar em `td`</li>
                    <li> Padronizar formatação de YYYY-MM-DD</li>
                </ul>
            </li>
            <li> Aperfeiçoar ainda mais modal e criação e edição de Estoque</li>
            <li> Funcionalidade modal `Meu Perfil`</li>
            <li> Padronizar uso de `HEADER_AUTH` em vez de decorator
                <ul>
                    <li> Apagar decorator</li>
                </ul>
            </li>
        </ul>
        <kbd>Versão b1.8</kbd>
        <ul>
            <li>Melhorar `db.py`</li>
            <li>Modal `Meu Perfil`</li>
            <li>Novo layout
                <ul>
                    <li>Admin</li>
                    <li>Toggle modo escuro/claro</li>
                    <li>Login</li>
                </ul>
            </li>
        </ul>
        <kbd>Versão b1.1</kbd>
        <ul>
            <li>Melhorar UX para mobile</li>
            <li>Bloquear acesso sem login (decorator)</li>
            <li>Padronizar botão `Ações` contendo `Criar` e `Apagar`</li>
            <li>Adicionar confirmação para sair</li>
            <li>Encontrar lugar para editar nome de ingrediente</li>
            <li>Maior robustes em delete/update para garantir organization_id</li>
            <li>Autenticação em fluxos de `seed`</li>
            <li>Ajustar redirect de erro</li>
        </ul>
        <kbd>Versão b1.0</kbd>
        <ul>
            <li>Separar `scripts.js`</li>
            <li>Ajustar exibição de datas em modais</li>
            <li>Permitir valores quebrados em inputs</li>
            <li>Cadastrar movimentação de estoque a partir de `receita_id` e `quantidade_produzida`</li>
            <li>Cadastrar quantidade positiva/negativa em estoque a partir de descrição</li>
            <li>Remover tela `Ingredientes` (confusa)</li>
            <li>Usar clique em linha em vez de `editar/excluir`</li>
            <li>
                Adicionar checkbox com delete massivo em tabelas
                <ul>
                    <li>Vendas</li>
                    <li>Estoques</li>
                    <li>Receitas
                        <ul>
                            <li>Listagem</li>
                            <li>Ingredientes</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Adicionar opção excluir em modal de `editar`
                <ul>
                    <li>Vendas</li>
                    <li>Estoque</li>
                    <li>Receitas
                        <ul>
                            <li>Listagem</li>
                            <li>Ingredientes</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
  </div>
</div>
{% endblock %}
