{% extends 'layout.html' %}

{% block content %}
<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title text-primary">
        <span class="material-symbols-outlined"> info </span>
         Sobre o KDerninho
      </h5>
    </div>
    <div class="card-body">
        <h3>Introdução</h3>
        <p>O <code>KDerninho</code> surgiu para automatizar o fluxo complexo e custoso de preencher tabelas para estimar preços, gerenciar estoque e manter tudo em dia.</p>
        <p>Em conjunto com a <a href="https://instragam.com.br">@herbaria8</a>, esse software tem sido aprimorado a cada dia para tornar a gestão de sua cozinha indepentende mais prática, assim você foca no que importa.</p>
        <h3>Como Incentivar</h3>
        <p>Esse é um projeto independente que ainda está em fase de testes, e é sustentado pelos seus criadores e os assitantes Premium.</p>
        <p>Estamos abertos a conversar sobre possíveis interesses comerciais através do email <a href="miscere.contato@gmail.com">miscere.contato@gmail.com</a>.</p>
        <h3>Versão Atual:&nbsp;<code>Beta v2.5.7</code></h3>
        <h3>Atualizações</h3>
        <pre>
## vb2.5
- [X] Tela "sobre a aplicação"
- [X] Corrigir modal de perfil
- [X] Corrigir inputs de data
- [X] Tela de criação de conta
  - [X] Funcionalidade criação de conta + organização
  - [X] Bloqueio organizações com mesmo nome
- [X] Tela "Organização"
  - [X] Atualizar nome da organização
  - [X] Criar usuário
  - [X] Excluír usuário
  - [X] Criar usuário dono
  - [X] Limitar ações para apenas donos
  - [X] Editar usuário
    - [X] Modal
    - [X] Funcionalidade
- [X] Atualizar senha
  - [X] Modal
  - [X] Funcionalidade
- [X] Reorganizar rotas
- [X] Expiração de Sessão login
- [X] Redirecionamento de acordo com status_code
- [X] Permitindo organizações com mesmo nome
- [ ] "Lembrar de mim neste dispositivo"
- [ ] Melhorar `repository.py`
  - [ ] Unificar verificacao de permissões
  - [ ] Unificar fluxos repetitivos
- [ ] Funcionalidade esqueci minha senha
- [ ] Geração de QR Code p/ chave PIX da organização
- [ ] Possível integração com Mercado Pago
- [ ] Upload e download de CSV

## vb2.0
- [X] Formulários verticais em modal
- [X] Padronizar método `dict()` em entidades para preencher `data-bs-payload`
    - [X] Atualizar JS para pegar `data-bs-payload` de `tr` ao clicar em `td`
    - [X] Padronizar formatação de YYYY-MM-DD
- [X] Aperfeiçoar ainda mais modal e criação e edição de Estoque
- [X] Funcionalidade modal `Meu Perfil`
- [X] Padronizar uso de `HEADER_AUTH` em vez de decorator
    - [X] Excluír decorator
- [-] Upload e download de CSV (Próxima versão)
- [-] Tela "Organização" (Próxima versão)

## vb1.8
- [X] Melhorar `db.py`
- [X] Modal `Meu Perfil`
- [X] Novo layout
    - [X] Admin
    - [X] Toggle modo escuro/claro
    - [X] Login

## vb1.1
- [X] Melhorar UX para mobile
- [X] Bloquear acesso sem login (decorator)
- [X] Padronizar botão `Ações` contendo `Criar` e `Excluír`
- [X] Adicionar confirmação para sair
- [X] Encontrar lugar para editar nome de ingrediente
- [X] Maior robustes em delete/update para garantir organization_id
- [X] Autenticação em fluxos de `seed`
- [X] Ajustar redirect de erro

## vb1.0
- [X] Separar `scripts.js`
- [X] Ajustar exibição de datas em modais
- [X] Permitir valores quebrados em inputs
- [X] Cadastrar movimentação de estoque a partir de `receita_id` e `quantidade_produzida`
- [X] Cadastrar quantidade positiva/negativa em estoque a partir de descrição
- [X] Remover tela `Ingredientes` (confusa)
- [X] Usar clique em linha em vez de `editar/excluir`
- [X] Adicionar checkbox com delete massivo em tabelas
    - [X] Vendas
    - [X] Estoques
    - [X] Receitas
        - [X] Listagem
        - [X] Ingredientes
- [X] Adicionar opção excluir em modal de `editar`
    - [X] Vendas
    - [X] Estoque
    - [X] Receitas
        - [X] Listagem
        - [X] Ingredientes
        </pre>
    </div>
  </div>
</div>
{% endblock %}
