<div class="modal fade" id="modalCreateReceita" tabindex="-1">
    <form class="modal-dialog" role="document" method="POST" action="{{ url_for('post_receitas_index') }}">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title ">
                      <span class="material-symbols-outlined">
                          library_books
                      </span>
                      Nova Receita
                  </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" tabindex="-1" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label required" for="nome">Nome</label>
                    <input required type="text" class="form-control" name="nome"/>
                </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn me-auto" data-bs-dismiss="modal" tabindex="-1">Cancelar</button>
                  <button type="submit" class="btn btn-success">Criar Receita</button>
              </div>
          </div>
    </form>
</div>