{% include 'receitas/modal_create.html' %}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title text-warning">
                <span class="material-symbols-outlined">
                    library_books
                </span>
                Receitas
            </h5>
            <div class="ms-auto">
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#novaReceitaModal">
                    <span class="material-symbols-outlined me-1">add</span>
                    Nova Receita
                </button>
            </div>
        </div>
        <div class="card-body">
            Receitas são utilizadas para determinar o preço dos produtos finais com base nos ingredientes que são utilizados.
            <br>
        </div>
        <div class="table-responsive">
            <table class="table table-vcenter">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Rendimento (Un.)</th>
                    <th>Preço Sug. (R$)</th>
                    <th>Custo (R$)</th>
                    <th>Faturamento</th>
                    <th>Lucro</th>
                    <th ></th>
                </tr>
                </thead>
                <tbody>
                {% for receita in receitas %}
                    <tr>
                        <td>{{ receita.id }}</td>
                        <td>{{ receita.nome }}</td>
                        <td>{{ receita.rendimento_unidades }} Un.</td>
                        <td>{{ receita.preco_sugerido | format_reais }}</td>
                        <td>
                            <span class="badge bg-danger-lt">
                                {{receita.custo_receita | format_reais}}
                            </span>
                        </td>
                        <td>
                            <span class="badge bg-warning-lt">
                                {{receita.faturamento | format_reais}}
                            </span>
                        </td>
                        <td>
                            <span class="badge bg-success-lt">
                                {{receita.lucro | format_reais}}
                            </span>
                        </td>
                        <td >
                            <a href="{{ url_for('get_receita', id=receita.id) }}" class="btn btn-sm">Detalhes</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>