{% extends 'layout.html' %}

{% block content %}
<div class="col-12">
    <ol class="breadcrumb" aria-label="breadcrumbs">
        <li class="breadcrumb-item"><a href="/">Receitas</a></li>
        <li class="breadcrumb-item active" aria-current="page">#{{id}} - {{nome}}</li>
    </ol>
</div>
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title text-primary">
                <span class="material-symbols-outlined">
                    library_books
                </span>
                Receita #{{id}} - {{nome}}
            </h5>
        </div>
        <div class="card-body">
            <form class="datagrid" method="POST" action="/{{id}}/atualizar">
                <div class="datagrid-item">
                  <div class="datagrid-title">Nome</div>
                  <input required type="text" class="form-control" name="nome" value="{{nome}}"/>
                </div>
                <div class="datagrid-item">
                  <div class="datagrid-title">Peso Unitário</div>
                  <div class="mb-3 datagrid-content">
                      <div class="input-group input-group-flat">
                        <input required type="number" name="peso_unitario" class="form-control text-end pe-0" value="{{peso_unitario}}" min="1" />
                        <span class="input-group-text">
                          g
                        </span>
                      </div>
                  </div>
                </div>
                <div class="datagrid-item">
                  <div class="datagrid-title">Porcetagem Lucro</div>
                  <div class="mb-3 datagrid-content">
                      <div class="input-group input-group-flat">
                          <input required type="number" name="porcentagem_lucro" class="form-control text-end pe-0" value="{{porcentagem_lucro}}" min="1" />
                          <span class="input-group-text">
                          %
                          </span>
                      </div>
                  </div>
                </div>
                <div class="datagrid-item">
                  <div class="datagrid-title">Atualizar</div>
                  <div class="mb-3 datagrid-content">
                    <button type="submit" class="btn">Atualizar</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>  
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title text-primary">
                <span class="material-symbols-outlined">
                    trending_up
                </span>
                Estimativas
            </h5>
        </div>
        <div class="card-body">
            <div class="datagrid">
                <div class="datagrid-item">
                  <div class="datagrid-title">Custo</div>
                  <div class="mb-3 datagrid-content">
                      <div class="input-group input-group-flat">
                        <span class="input-group-text">
                        R$
                        </span>
                        <input readonly required type="number" class="form-control text-end pe-0" value="{{custo_receita}}" min="1" />
                      </div>
                  </div>
                </div>
                <div class="datagrid-item">
                  <div class="datagrid-title">Faturamento</div>
                  <div class="mb-3 datagrid-content">
                      <div class="input-group input-group-flat">
                        <span class="input-group-text">
                        R$
                        </span>
                        <input readonly required type="number" class="form-control text-end pe-0" value="{{faturamento}}" min="1" />
                      </div>
                  </div>
                </div>
                <div class="datagrid-item">
                  <div class="datagrid-title">Lucro</div>
                  <div class="mb-3 datagrid-content">
                      <div class="input-group input-group-flat">
                        <span class="input-group-text">
                        R$
                        </span>
                        <input readonly required type="number" class="form-control text-end pe-0" value="{{lucro}}" min="1" />
                      </div>
                  </div>
                </div>
            </div>
            <div class="hr-text">Venda</div>
            <div class="datagrid">
                <div class="datagrid-item">
                  <div class="datagrid-title">Rendimento</div>
                  <div class="mb-3 datagrid-content">
                      <div class="input-group input-group-flat">
                          <input readonly required type="number" class="form-control text-end pe-0" value="{{rendimento}}" min="1" />
                          <span class="input-group-text">
                          g
                          </span>
                      </div>
                  </div>
                </div>
                <div class="datagrid-item">
                  <div class="datagrid-title">Rendimento Unidades</div>
                  <div class="mb-3 datagrid-content">
                      <div class="input-group input-group-flat">
                        <input readonly required type="number" class="form-control text-end pe-0" value="{{rendimento_unidades}}" min="1" />
                        <span class="input-group-text">
                          unidades
                        </span>
                      </div>
                  </div>
                </div>
                <div class="datagrid-item">
                  <div class="datagrid-title">Custo unidade</div>
                  <div class="mb-3 datagrid-content">
                      <div class="input-group input-group-flat">
                        <span class="input-group-text">
                        R$
                        </span>
                        <input readonly required type="number" class="form-control text-end pe-0" value="{{custo_unidade}}" min="1" />
                      </div>
                  </div>
                </div>
                <div class="datagrid-item">
                  <div class="datagrid-title">Preço Sugerido</div>
                  <div class="mb-3 datagrid-content">
                      <div class="input-group input-group-flat">
                        <span class="input-group-text">
                        R$
                        </span>
                        <input readonly required type="number" class="form-control text-end pe-0" value="{{preco_sugerido}}" min="1" />
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title text-primary">
                <span class="material-symbols-outlined">
                    archive
                </span>
                Ingredientes
            </h5>
        </div>
        <form class="card-body" method="POST" action="/{{id}}/ingredientes/adicionar">
            <div class="datagrid">
                <div class="datagrid-item">
                    <label class="datagrid-title form-label">Ingrediente</label>
                    <div class="datagrid-content">
                        <select required class="form-select" name="ingrediente_id">
                            <option selected value="-1">Selecionar</option>
                            {% for ingrediente in ingredientes %}
                                <option value="{{ingrediente.id}}" data-custo_p_grama="{{ingrediente.custo_p_grama}}">{{ingrediente.nome | title}}</option>
                            {% endfor %}
                        </select>
                        <small style="display: block; margin-top: 8px" class="text-secondary" id="ingrediente_custo_p_grama">Selecione um ingrediente</small>
                    </div>
                </div>
                <div class="datagrid-item">
                    <label class="datagrid-title form-label">Quantidade (gramas)</label>
                    <div class="datagrid-content">
                        <div class="input-group input-group-flat">
                            <input required type="number" class="form-control text-end pe-0" value="0" min="0" name="quantidade" />
                            <span class="input-group-text">
                                g
                            </span>
                        </div>
                        <small style="display: block; margin-top: 8px" class="text-secondary" id="ingediente_custo_final">Insira uma quantidade</small>
                    </div>
                </div>
                <div class="datagrid-item">
                    <label class="datagrid-title form-label">Adicionar</label>
                    <div class="datagrid-content">
                        <button class="btn">Adicionar</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-vcenter">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Quantidade (gramas)</th>
                    <th>Custo/grama (R$)</th>
                    <th>Custo Total (R$)</th>
                    <th class="w-1"></th>
                </tr>
                </thead>
                <tbody>
                {% for ingrediente in receita_ingredientes %}
                    {% if ingrediente.ingrediente_id >= 0 %}
                        <tr>
                            <td>{{ ingrediente.ingrediente_id }}</td>
                            <td>{{ ingrediente.ingrediente.nome }}</td>
                            <td>{{ ingrediente.quantidade }} g</td>
                            <td>R$ {{ ingrediente.ingrediente.custo_p_grama }}</td>
                            <td>R$ {{ ingrediente.custo }}</td>
                            <td class="w-1">
                                <a href="{{id}}/ingredientes/remover/{{ingrediente.id}}" type="button" class="btn btn-sm">Remover</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr class="text-primary">
                            <td></td>
                            <td><b>{{ ingrediente.ingrediente.nome }}</b></td>
                            <td><b>{{ ingrediente.quantidade }} g</b></td>
                            <td><b>R$ {{ ingrediente.ingrediente.custo_p_grama }}</b></td>
                            <td><b>R$ {{ ingrediente.custo }}</b></td>
                            <td class="w-1">
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    window.addEventListener('load', () => {
        const inputQuantidade = document.querySelector('input[name="quantidade"]');
        const selectIngrediente = document.querySelector('select[name="ingrediente_id"]');
        const getSelectIngredienteSelectedOption = () => {
            const selected_option = Array.from(selectIngrediente.options).find(o => o.value == selectIngrediente.value);
            if(!selected_option) return null;
            return selected_option;
        }
        const getSelectIngredienteSelectedOptionAttr = (attrName) => {
            const selected_option = getSelectIngredienteSelectedOption();
            if(!selected_option) return null;
            const custo_p_grama = selected_option.getAttribute(attrName);
            if(!custo_p_grama) return null;
            return parseFloat(custo_p_grama).toFixed(3);
        }

        const updateSelectIngredienteCustoPGrama = () => {
            const custo_p_grama = getSelectIngredienteSelectedOptionAttr('data-custo_p_grama');
            if(!custo_p_grama) return document.querySelector('#ingrediente_custo_p_grama').innerHTML = 'Selecione um ingrediente';
            document.querySelector('#ingrediente_custo_p_grama').innerHTML = `Custo por grama: R$ ${custo_p_grama}/g`;
        }

        const updateInputQuantidadeCustoFinal = () => {
            const custo_p_grama = getSelectIngredienteSelectedOptionAttr('data-custo_p_grama');
            if(!custo_p_grama) return document.querySelector('#ingediente_custo_final').innerHTML = 'Insira uma quantidade';
            const custo_final = parseFloat(inputQuantidade.value * custo_p_grama).toFixed(2);
            document.querySelector('#ingediente_custo_final').innerHTML = `Custo final: R$ ${custo_final}`
        }

        selectIngrediente.addEventListener('change', (e) => {
            updateSelectIngredienteCustoPGrama();
            updateInputQuantidadeCustoFinal();
        });
        inputQuantidade.addEventListener('change', (e) => {
            updateSelectIngredienteCustoPGrama();
            updateInputQuantidadeCustoFinal();
        })
    })
</script>
{% endblock %}
