{% extends 'layout.html' %}

{% include 'receitas/modal_create.html' %}

{% include 'receitas/modal_ingredientes_incluir.html' %}
{% include 'receitas/modal_ingredientes_remover.html' %}
{% include 'receitas/modal_ingredientes_atualizar.html' %}

{% include 'ingredientes/modal_create.html' %}

{% block content %}
<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">
        {{ material_symbol('library_books') | safe }}
        {{receita.nome}}
      </h5>
      <div class="dropdown ms-auto">
        <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown">Ações</a>
        <div class="dropdown-menu">
          <!-- <a href="#" class="dropdown-item">Exportar CSV</a> -->
          <a href="#" class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#modalDeleteReceita">
            {{ material_symbol('delete') | safe }}
            Excluír
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form class="datagrid" method="POST" action="{{ url_for('post_receita_atualizar') }}">
        <div class="datagrid-item">
          <div class="datagrid-title">Código Interno</div>
          <input required readonly type="text" class="form-control" name="id" value="{{receita.id}}" />
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Nome</div>
          <input required type="text" class="form-control" name="nome" value="{{receita.nome}}" />
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Peso Unitário</div>
          <div class="datagrid-content">
            <div class="input-group input-group-flat">
              <input required type="number" step="any" name="peso_unitario" class="form-control pe-0" value="{{receita.peso_unitario}}" min="1" />
              <span class="input-group-text"> g </span>
            </div>
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Porcetagem Lucro</div>
          <div class="datagrid-content">
            <div class="input-group input-group-flat">
              <input required type="number" step="any" name="porcentagem_lucro" class="form-control pe-0" value="{{receita.porcentagem_lucro}}" min="1" />
              <span class="input-group-text"> % </span>
            </div>
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Atualizar</div>
          <div class="datagrid-content">
            <button type="submit" class="btn">Atualizar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-12 col-md-6">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">
        <span class="material-symbols-outlined"> trending_up </span>
        Estimativas
      </h5>
    </div>
    <div class="card-body">
      <div class="datagrid">
        <div class="datagrid-item text-danger">
          <div class="datagrid-title">Custo</div>
          <div class="datagrid-content">
            <span class="badge bg-danger-lt"> {{receita.custo | format_reais}} </span>
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Faturamento</div>
          <div class="datagrid-content">
            <span class="badge bg-warning-lt"> {{receita.faturamento | format_reais}} </span>
          </div>
        </div>
        <div class="datagrid-item text-success">
          <div class="datagrid-title">Lucro</div>
          <div class="datagrid-content">
            <span class="badge bg-success-lt"> {{receita.lucro | format_reais}} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12 col-md-6">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">
        <span class="material-symbols-outlined"> currency_exchange </span>
        Precificação
      </h5>
    </div>
    <div class="card-body">
      <div class="datagrid">
        <div class="datagrid-item">
          <div class="datagrid-title">Rendimento</div>
          <div class="datagrid-content">
            <span class="badge bg-secondary-lt"> {{receita.rendimento}} g </span>
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Rendimento Unidades</div>
          <div class="datagrid-content">
            <span class="badge bg-secondary-lt"> {{receita.rendimento_unidades}} Un. </span>
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Custo unidade</div>
          <div class="datagrid-content">
            <span class="badge bg-secondary-lt"> {{receita.custo_unidade | format_reais}} </span>
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Preço Sugerido</div>
          <div class="datagrid-content">
            <span class="badge bg-secondary-lt"> {{receita.preco_sugerido | format_reais}} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="card" id="cardIngredientes">
    <div class="card-header">
      <h5 class="card-title">
        {{ material_symbol('package_2') | safe }}
        Ingredientes
      </h5>
      <div class="dropdown ms-auto">
        <a class="btn dropdown-toggle" data-bs-toggle="dropdown">Ações</a>
        <div class="dropdown-menu">
          <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#inserirReceitaIngredienteModal">
            {{material_symbol('chevron_left') | safe }}
            Incluir Ingrediente
          </button>
          <button class="dropdown-item" id="btn-excluir-selecionados" disabled data-bs-toggle="modal" data-bs-target="#modalConfirm" data-bs-payload='{"receita_id":{{receita.id}}, "action": "{{url_for('post_receita_ingredientes_remover')}}", ".text-secondary": "Remover ingredientes selecionados?"}'>
            {{material_symbol('remove') | safe }}
            Remover Selecionados
          </button>
        </div>
      </div>
    </div>
    
    <div class="table-responsive">
      <table class="table table-vcenter table-striped table-hover">
        <thead class="sticky-top">
          <tr>
            <th class="w-1"></th>
            <th>Nome</th>
            <th>Quantidade (g)</th>
            <th>Custo/grama (R$)</th>
            <!-- <th>Custo/grama méd. (R$)</th> -->
            <th>Custo Total (R$)</th>
            <th>Estoque Atual</th>
          </tr>
        </thead>
        <tbody>
          {% for receita_ingrediente in receita.ingrediente_links %}
          <tr class="cursor-pointer" data-bs-payload="{{receita_ingrediente.dict() | json }}">
            <td class="w-1">
              <input type="checkbox" name="checkbox_{{receita_ingrediente.id}}" id="checkbox_{{receita_ingrediente.id}}" data-id="{{receita_ingrediente.id}}">
            </td>
            <td data-bs-toggle="modal" data-bs-target="#atualizarReceitaIngredienteModal">{{ receita_ingrediente.ingrediente.nome }}</td>
            <td data-bs-toggle="modal" data-bs-target="#atualizarReceitaIngredienteModal">{{ receita_ingrediente.quantidade | format_quantity | safe }}</td>
            <td data-bs-toggle="modal" data-bs-target="#atualizarReceitaIngredienteModal">{{ receita_ingrediente.ingrediente.custo_p_grama | format_reais }}</td>
            <td data-bs-toggle="modal" data-bs-target="#atualizarReceitaIngredienteModal">{{ receita_ingrediente.custo | format_reais }}</td>
            <td data-bs-toggle="modal" data-bs-target="#atualizarReceitaIngredienteModal">{{ receita_ingrediente.ingrediente.estoque_atual | format_stock | safe }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  window.addEventListener("load", () => {
    const inputQuantidade = document.querySelector('#cardIngredientes input[name="quantidade"]');
    const selectIngrediente = document.querySelector('#cardIngredientes select[name="ingrediente_id"]');

    const getSelectIngredienteSelectedOption = () => {
      const selected_option = Array.from(selectIngrediente.options).find((o) => o.value == selectIngrediente.value);
      if (!selected_option) return null;
      return selected_option;
    };

    const getSelectIngredienteSelectedOptionAttr = (attrName) => {
      const selected_option = getSelectIngredienteSelectedOption();
      if (!selected_option) return null;
      const custo_p_grama = selected_option.getAttribute(attrName);
      if (!custo_p_grama) return null;
      return parseFloat(custo_p_grama).toFixed(3);
    };

    const updatePreview = () => {
      const custo_p_grama = getSelectIngredienteSelectedOptionAttr("data-custo_p_grama");
      if (!custo_p_grama) {
        document.querySelector("#ingrediente_custo_p_grama").innerHTML = "Selecione um ingrediente";
        document.querySelector("#ingediente_custo_final").innerHTML = "Insira uma quantidade";
        return;
      } else {
        const custo_final = parseFloat(inputQuantidade.value * custo_p_grama).toFixed(2);
        document.querySelector("#ingrediente_custo_p_grama").innerHTML = `Custo por grama: R$ ${custo_p_grama}/g`;
        document.querySelector("#ingediente_custo_final").innerHTML = `Custo final: R$ ${custo_final}`;
      }
    };

    selectIngrediente.addEventListener("change", updatePreview);
    inputQuantidade.addEventListener("change", updatePreview);
  });
</script>
{% endblock %}
