{% extends '/layout/app.html' %}

{% include 'receitas/modal_create.html' %}

{% include 'receitas/modal_insumos_incluir.html' %}
{% include 'receitas/modal_insumos_remover.html' %}
{% include 'receitas/modal_insumos_atualizar.html' %}

{% include 'insumos/modal_create.html' %}

{% block content %}
<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">
        {{ material_symbol('library_books') | safe }}
        {{receita.nome}}
      </h5>
      <div class="dropdown ms-auto">
        <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown">Ações</a>
        <div class="dropdown-menu">
          <!-- <a href="#" class="dropdown-item">Exportar CSV</a> -->
          <a href="#" class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#modalDeleteReceita">
            {{ material_symbol('delete') | safe }}
            Excluír
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form class="datagrid" method="POST" action="{{ url_for('post_receita_atualizar') }}">
        <div class="datagrid-item">
          <div class="datagrid-title">Código Interno</div>
          <input required readonly type="text" class="form-control" name="id" value="{{receita.id}}" />
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Nome</div>
          <input required type="text" class="form-control" name="nome" value="{{receita.nome}}" />
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Peso Unitário</div>
          <div class="datagrid-content">
            <div class="input-group input-group-flat">
              <input required type="number" step="any" name="peso_unitario" class="form-control pe-0" value="{{receita.peso_unitario}}" min="1" />
              <span class="input-group-text"> g </span>
            </div>
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Porcetagem Lucro</div>
          <div class="datagrid-content">
            <div class="input-group input-group-flat">
              <input required type="number" step="any" name="porcentagem_lucro" class="form-control pe-0" value="{{receita.porcentagem_lucro}}" min="1" />
              <span class="input-group-text"> % </span>
            </div>
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Atualizar</div>
          <div class="datagrid-content">
            <button type="submit" class="btn">Atualizar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-12 col-md-6">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">
        <span class="material-symbols-outlined"> trending_up </span>
        Estimativas
      </h5>
    </div>
    <div class="card-body">
      <div class="datagrid">
        <div class="datagrid-item text-danger">
          <div class="datagrid-title">Custo</div>
          <div class="datagrid-content">
            <span class="badge bg-danger-lt"> {{receita.custo | format_reais}} </span>
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Faturamento</div>
          <div class="datagrid-content">
            <span class="badge bg-warning-lt"> {{receita.faturamento | format_reais}} </span>
          </div>
        </div>
        <div class="datagrid-item text-success">
          <div class="datagrid-title">Lucro</div>
          <div class="datagrid-content">
            <span class="badge bg-success-lt"> {{receita.lucro | format_reais}} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12 col-md-6">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">
        <span class="material-symbols-outlined"> currency_exchange </span>
        Precificação
      </h5>
    </div>
    <div class="card-body">
      <div class="datagrid">
        <div class="datagrid-item">
          <div class="datagrid-title">Rendimento</div>
          <div class="datagrid-content">
            <span class="badge bg-secondary-lt"> {{receita.rendimento}} g </span>
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Rendimento Unidades</div>
          <div class="datagrid-content">
            <span class="badge bg-secondary-lt"> {{receita.rendimento_unidades}} Un. </span>
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Custo unidade</div>
          <div class="datagrid-content">
            <span class="badge bg-secondary-lt"> {{receita.custo_unidade | format_reais}} </span>
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Preço Sugerido</div>
          <div class="datagrid-content">
            <span class="badge bg-secondary-lt"> {{receita.preco_sugerido | format_reais}} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="card" id="cardInsumos">
    <div class="card-header">
      <h5 class="card-title">
        {{ material_symbol('package_2') | safe }}
        Insumos
      </h5>
      <div class="ms-auto d-none d-md-flex btn-list">
        <button class="btn" data-bs-toggle="modal" data-bs-target="#inserirReceitaInsumoModal">
          {{material_symbol('chevron_left') | safe }}
          Incluir Insumo
        </button>
        <button class="btn" id="btn-excluir-selecionados" disabled data-bs-toggle="modal" data-bs-target="#modalConfirm" data-bs-payload='{"receita_id":{{receita.id}}, "action": "{{url_for('post_receita_insumos_remover')}}", ".text-secondary": "Remover insumos selecionados?"}'>
          {{material_symbol('remove') | safe }}
          Remover Selecionados
        </button>
      </div>
      <div class="dropdown ms-auto d-md-none">
        <a class="btn dropdown-toggle" data-bs-toggle="dropdown">Ações</a>
        <div class="dropdown-menu">
          <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#inserirReceitaInsumoModal">
            {{material_symbol('chevron_left') | safe }}
            Incluir Insumo
          </button>
          <button class="dropdown-item" id="btn-excluir-selecionados" disabled data-bs-toggle="modal" data-bs-target="#modalConfirm" data-bs-payload='{"receita_id":{{receita.id}}, "action": "{{url_for('post_receita_insumos_remover')}}", ".text-secondary": "Remover insumos selecionados?"}'>
            {{material_symbol('remove') | safe }}
            Remover Selecionados
          </button>
        </div>
      </div>
    </div>

    {% include 'components/table.html' %}
  </div>
</div>
{% endblock %} {% block script %}
{% endblock %}
