
<div class="modal fade" id="inserirReceitaGastoModal" tabindex="-1">
    <form class="modal-dialog" method="POST" action="{{ url_for('post_receita_gastos_incluir') }}">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <span class="material-symbols-outlined"> payments </span>
            Incluir Gasto
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="hidden" name="receita_id" value="{{receita.id}}">
            <div class="mb-3">
              <label class="form-label required">Descrição</label>
              <input required type="text" class="form-control" name="descricao" />
            </div>
            <div class="mb-3">
                <label class="form-label required" for="tipo">Tipo</label>
                <select required class="form-select" name="gasto_tipo">
                    <option value="PERCENTUAL">Percentual</option>
                    <option value="FIXO">Fixo</option>
                </select>
            </div>
            <div class="mb-3">
              <label class="form-label required">Valor</label>
              <div class="input-group input-group-flat">
                <span class="input-group-text" id="input_gasto_valor_unidade"> % </span>
                <input required type="number" step="any" class="form-control" min="0" name="gasto_valor" />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success">Incluir</button>
          </div>
      </div>
    </form>
    <script>
      document.querySelector('#inserirReceitaGastoModal select').addEventListener('change', (e) => {
        document.querySelector('#inserirReceitaGastoModal #input_gasto_valor_unidade').innerHTML = ''
        if(e.target.value == 'FIXO') document.querySelector('#inserirReceitaGastoModal #input_gasto_valor_unidade').innerHTML = 'R$'
        if(e.target.value == 'PERCENTUAL') document.querySelector('#inserirReceitaGastoModal #input_gasto_valor_unidade').innerHTML = '%'
      });
    </script>
  </div>