

<div class="modal" id="atualizarReceitaIngredienteModal" tabindex="-1">
    <form class="modal-dialog" role="document" method="POST" action="{{ url_for('post_receita_ingredientes_atualizar') }}">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <span class="material-symbols-outlined"> package_2 </span>
            Editar Uso de Ingrediente
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input required type="hidden" class="form-control pe-0" value="{{receita.id}}" name="receita_id" />
          <input required type="hidden" class="form-control pe-0"  name="id" />
          <div class="datagrid">
            <div class="datagrid-item">
              <label class="datagrid-title form-label">Ingrediente</label>
              <div class="datagrid-content">
                <select required readonly class="form-select" name="ingrediente_id">
                  <option selected value="-1">Selecionar</option>
                  {% for ingrediente in ingredientes %}
                  <option value="{{ingrediente.id}}" data-custo_p_grama="{{ingrediente.custo_p_grama}}">{{ingrediente.nome | title}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="datagrid-item">
              <label class="datagrid-title form-label">Quantidade Utilizada</label>
              <div class="datagrid-content">
                <div class="input-group input-group-flat">
                  <input required type="number" step="any" class="form-control pe-0" value="0" min="1" name="quantidade" />
                  <span class="input-group-text"> g </span>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <h5>Editar Ingrediente</h5>
          <div class="datagrid">
            <div class="datagrid-item">
              <div class="datagrid-title">
                Nome
              </div>
              <div class="datagrid-content">
                <input type="text" class="form-control" name="ingrediente_nome" placeholder="Preencha para alterar o nome desse ingrediente">
              </div>
            </div>
          </div>
          <br>
          <div class="datagrid">
            <div class="datagrid-item">
              <div class="datagrid-title">
                Custo
              </div>
              <div class="datagrid-content">
                <div class="input-group input-group-flat">
                  <span class="input-group-text"> R$ </span>
                  <input name="ingrediente_custo" required type="number" step="any" class="form-control text-end" min="1" />
                </div>
              </div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">
                Peso (por pacote)
              </div>
              <div class="datagrid-content">
                <input type="number" class="form-control" name="ingrediente_peso">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-ghost-danger me-auto" data-bs-toggle="modal" data-bs-target="#apagarReceitaIngredienteModal" data-bs-payload="">Remover da Receita</button>
          <button type="submit" class="btn">Atualizar</button>
        </div>
      </div>
    </form>
  </div>