<div class="modal" id="novaReceitaModal" tabindex="-1">
    <form class="modal-dialog" role="document" method="POST" action="{{ url_for('post_receitas_index') }}">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title text-primary">
                      <span class="material-symbols-outlined">
                          library_books
                      </span>
                      Nova Receita
                  </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="datagrid">
                      <div class="datagrid-item">
                      <div class="datagrid-title">Nome</div>
                      <input required type="text" class="form-control" name="nome"/>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn me-auto" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-success">Criar Receita</button>
              </div>
          </div>
    </form>
</div>