
<div class="modal fade" id="inserirReceitaInsumoModal" tabindex="-1">
    <form class="modal-dialog" method="POST" action="{{ url_for('post_receita_insumos_incluir') }}">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <span class="material-symbols-outlined"> package_2 </span>
            Incluir Insumo
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="hidden" name="receita_id" value="{{receita.id}}">
            <div class="mb-3">
              <label class="form-label required">Insumo</label>
              <select required class="form-select" name="insumo_id">
                <option selected value="">Selecionar</option>
                {% for insumo in insumos %}
                  <option value="{{insumo.id}}" data-custo_p_grama="{{insumo.custo_p_grama}}" data-unidade="{{insumo.unidade}}">{{insumo.nome | title}}</option>
                {% endfor %}
              </select>
              <a data-bs-toggle="modal" data-bs-target="#modalCreateInsumo" style="display: block; margin-top: 8px" class=" cursor-pointer" id="insumo_custo_p_grama">Novo Insumo</a>
            </div>
            <div class="mb-3">
              <label class="form-label required">Quantidade</label>
              <div class="input-group input-group-flat">
                <input required type="number" step="any" class="form-control pe-0" min="0" name="quantidade" />
                <span class="input-group-text" id="input_quantidade_unidade"> g </span>
              </div>
              <small style="display: block; margin-top: 8px" class="text-secondary" id="ingediente_custo_final">Insira uma quantidade</small>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success">Incluir</button>
          </div>
      </div>
    </form>
    <script>
      document.querySelector('#inserirReceitaInsumoModal').addEventListener('change', (e) => {
        const options = e.target.options
        document.querySelector('#input_quantidade_unidade').innerHTML = options[options.selectedIndex].getAttribute('data-unidade')
      });
    </script>
  </div>