

<div class="modal fade" id="atualizarReceitaIngredienteModal" tabindex="-1">
    <form class="modal-dialog" role="document" method="POST" action="{{ url_for('post_receita_ingredientes_atualizar') }}">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <span class="material-symbols-outlined"> package_2 </span>
            Editar Uso de Ingrediente
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input required type="hidden" class="form-control pe-0" value="{{receita.id}}" name="receita_id" />
          <input required type="hidden" class="form-control pe-0"  name="id" />
          <div class="mb-3">
            <label class="form-label required">Ingrediente</label>
            <select required readonly class="form-select" name="ingrediente_id">
              <option selected value="-1">Selecionar</option>
              {% for ingrediente in ingredientes %}
              <option value="{{ingrediente.id}}" data-custo_p_grama="{{ingrediente.custo_p_grama}}">{{ingrediente.nome | title}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label required">Quantidade Utilizada</label>
            <div class="input-group input-group-flat">
              <input required type="number" step="any" class="form-control pe-0" value="0" min="1" name="quantidade" />
              <span class="input-group-text"> g </span>
            </div>
          </div>
        </div>
        <div class="modal-header cursor-pointer d-flex flex-column align-items-start" data-bs-toggle="collapse" data-bs-target="#collapseEditarIngrediente">
          <h5 class="modal-title no-space">
            {{ material_symbol('edit') | safe }}
            Editar Ingrediente
          </h5>
          <span class="text-muted text-sm">Clique para expandir</span>
        </div>
        <div class="modal-body collapse" id="collapseEditarIngrediente">
          <div class="mb-3">
            <label for="ingrediente_nome" class="form-label required">
              Nome
            </label>
            <input type="text" class="form-control" name="ingrediente_nome" placeholder="Preencha para atualizar o nome desse ingrediente">
          </div>
          <div class="mb-3">
            <label for="ingrediente_custo" class="form-label required">
              Custo
            </label>
            <div class="input-group input-group-flat">
              <span class="input-group-text"> R$ </span>
              <input name="ingrediente_custo" required type="number" step="any" class="form-control text-end" min="1" />
            </div>
          </div>
          <div class="mb-3">
            <label for="ingrediente_peso" class="form-label required">
              Peso (por pacote)
            </label>
            <div class="input-group input-group-flat">
              <input required type="number" step="any" class="form-control pe-0" name="ingrediente_peso">
              <span class="input-group-text"> g </span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-ghost-danger me-auto" data-bs-toggle="modal" data-bs-target="#excluirReceitaIngredienteModal" data-bs-payload="">Remover da Receita</button>
          <button type="submit" class="btn">Atualizar</button>
        </div>
      </div>
    </form>
  </div>