<div class="modal" id="modalUpdateVenda" tabindex="-1">
    <form class="modal-dialog" role="document" method="POST" action="{{ url_for('post_vendas_atualizar') }}">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title ">
            <span class="material-symbols-outlined"> shopping_cart </span>
            Editar Venda
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <input required readonly type="hidden" class="form-control" name="id" />
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label required" for="data_criacao">Data</label>
            <input required readonly type="datetime-local" class="form-control" name="data_criacao" />
          </div>
          <div class="mb-3">
            <label class="form-label required" for="descricao">Descricao</label>
            <input required type="text" class="form-control" name="descricao" />
          </div>
          <div class="mb-3">
            <label class="form-label required" for="valor">Valor</label>
            <div class="input-group input-group-flat">
              <span class="input-group-text"> R$ </span>
              <input name="valor" required type="number" step="any" class="form-control text-end" min="1" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-ghost-danger me-auto" data-bs-toggle="modal" data-bs-target="#modalDeleteVenda" data-bs-payload="">Excluír</button>
          <button type="submit" class="btn">Atualizar</button>
        </div>
      </div>
    </form>
  </div>