<div class="col-12 d-none">
  <div class="card">
    <div class="card-body">
      <form class="datagrid" action="{{request.url}}">
        <div class="datagrid-item">
          <div class="datagrid-title">Data Ínicio</div>
          <div class="datagrid-content">
            <input type="date" name="filter_data_inicio" class="form-control" value="{{filter_data_inicio}}">
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Data Fim</div>
          <div class="datagrid-content">
            <input type="date" name="filter_data_final" class="form-control" value="{{filter_data_final}}">
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Filtrar</div>
          <div class="datagrid-content">
            <input type="submit" class="btn" value="Filtrar">
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Limpar</div>
          <div class="datagrid-content">
            <input type="submit" class="btn" value="Limpar">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="card">
    <div class="table-responsive">
      <table class="table table-vcenter table-striped table-hover">
        <thead>
          <tr>
            <th class="w-1"></th>
            <th>Data</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Recebido</th>
          </tr>
        </thead>
        <tbody>
          {% for venda in vendas %}
          <tr class="cursor-pointer" data-bs-payload="{{venda.dict() | json }}">
            <td class="w-1">
              <input type="checkbox" name="checkbox_{{venda.id}}" id="checkbox_{{venda.id}}" data-id="{{venda.id}}">
            </td>
            <td data-bs-toggle="modal" data-bs-target="#modalUpdateVenda">{{ venda.data_criacao | strftime }}</td>
            <td data-bs-toggle="modal" data-bs-target="#modalUpdateVenda">{{ venda.descricao }}</td>
            <td data-bs-toggle="modal" data-bs-target="#modalUpdateVenda"><b class="text-success">{{ venda.valor | format_reais }}</b></td>
            <td data-bs-toggle="modal" data-bs-target="#modalUpdateVenda">
              {% if venda.recebido %}
                {{ material_symbol('check', 'text-success') | safe }}
              {% else %}
                {{ material_symbol('more_horiz', 'text-secondary') | safe }}
              {% endif %}
            </td>
          </tr>
          {% else %}
            <tr>
              <td colspan="4">Nenhum registro encontrado</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>