<div class="cold-12">
  <button class="btn" id="btn-apagar-selecionados" disabled>Apagar Selecionados</button>
</div>

<div class="col-12 d-none">
  <div class="card">
    <div class="card-body">
      <form class="datagrid" action="{{request.url}}">
        <div class="datagrid-item">
          <div class="datagrid-title">Data Ínicio</div>
          <div class="datagrid-content">
            <input type="date" name="filter_data_inicio" class="form-control" value="{{filter_data_inicio}}">
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Data Fim</div>
          <div class="datagrid-content">
            <input type="date" name="filter_data_final" class="form-control" value="{{filter_data_final}}">
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Filtrar</div>
          <div class="datagrid-content">
            <input type="submit" class="btn" value="Filtrar">
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Limpar</div>
          <div class="datagrid-content">
            <input type="submit" class="btn" value="Limpar">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="card">
    <div class="table-responsive">
      <table class="table table-vcenter table-striped table-hover">
        <thead>
          <tr>
            <th class="w-1"></th>
            <th>Data</th>
            <th>Descrição</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          {% for venda in vendas %}
          <tr class="cursor-pointer">
            <td class="w-1">
              <input type="checkbox" name="checkbox_{{venda.id}}" id="checkbox_{{venda.id}}">
            </td>
            <td data-bs-toggle="modal" data-bs-target="#modalUpdateVenda" data-bs-payload="{{venda.model_dump_json()}}">{{ venda.data_criacao | strftime }}</td>
            <td data-bs-toggle="modal" data-bs-target="#modalUpdateVenda" data-bs-payload="{{venda.model_dump_json()}}">{{ venda.descricao }}</td>
            <td data-bs-toggle="modal" data-bs-target="#modalUpdateVenda" data-bs-payload="{{venda.model_dump_json()}}"><b class="text-success">{{ venda.valor | format_reais }}</b></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  document.querySelectorAll('td input[type="checkbox"]').forEach(el => el.closest('td').addEventListener('click', (ev) => { if(ev.target != el) el.click() }))
  document.querySelectorAll('td input[type="checkbox"]').forEach(el => {
      el.addEventListener('change', (e) => {
        const checkeds = document.querySelectorAll('td input[type="checkbox"]:checked').length;
        if(checkeds) {
          document.querySelector('#btn-apagar-selecionados').removeAttribute("disabled")
        } else {
          document.querySelector('#btn-apagar-selecionados').setAttribute("disabled", true)
        }
      });
  });

</script>