
<div class="col-12">
    <div class="card">
        <div class="card-header cursor-pointer bg-primary text-white  d-flex align-items-center justify-content-between flex-wrap" data-bs-toggle="collapse" data-bs-target="#collapseChartResumoCaixa">
            <h5 class="card-title">
                {{ material_symbol('monitoring') | safe }}
                Gráfico Fluxo de Caixa
            </h5>
            <small class="text-white opacity-75">Clique para expandir/fechar</small>
        </div>
        <div class="card-body collapse show" id="collapseChartResumoCaixa">
            <p>
                Dados de <b>{{chart_resumo_caixa_data_inicial | strftime_day}}</b> á <b>{{chart_resumo_caixa_data_final | strftime_day}}</b>
            </p>
            <canvas id="myChart" width="400" height="300" style="max-height: 300px;"></canvas>
        </div>
    </div>
</div>

<script>
    const ctx = document.getElementById('myChart').getContext('2d');

    const config = {{chart_resumo_caixa_config | json | safe}}

    if(!config['options']['scales']) config['options']['scales'] = {'y': {}}
    config['options']['scales']['y']['ticks'] = {
        callback: function(value, index, ticks) {
            return 'R$ ' + value;
        }
    }
    new Chart(ctx, config);
</script>

<div class="col-sm-12 col-lg-4">
    <div class="card bg-success-lt border-success">
        <div class="card-header d-flex align-items-center justify-content-between flex-wrap">
            <h5 class="card-title">Entradas</h5>
            <small class="opacity-75">
                Dados de <b>{{chart_resumo_caixa_data_inicial | strftime_day}}</b> á <b>{{chart_resumo_caixa_data_final | strftime_day}}</b>
            </small>
        </div>
        <div class="card-body">
            <div class="ms-auto lh-1 position-absolute" style="right: 16px">
                <button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#modalCreateCaixaMovimentacao">
                    {{ material_symbol('add') | safe }}
                    Nova Movimentação
                    &nbsp;
                </button>
            </div>
            <div class="d-flex align-items-center">
                <div class="h1 mb-0 me-2 text-success">
                    {{ chart_resumo_caixa_total_entradas | format_reais }}
                </div>
                <div class="me-auto">
                    <div class="text-green d-inline-flex align-items-center lh-1">
                        {{ material_symbol('arrow_downward') | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12 col-lg-4">
    <div class="card bg-danger-lt border-danger">
        <div class="card-header d-flex align-items-center justify-content-between flex-wrap">
            <h5 class="card-title">Saídas</h5>
            <small class="opacity-75">
                Dados de <b>{{chart_resumo_caixa_data_inicial | strftime_day}}</b> á <b>{{chart_resumo_caixa_data_final | strftime_day}}</b>
            </small>
        </div>
        <div class="card-body position-relative">
            <div class="ms-auto lh-1 position-absolute" style="right: 16px">
                <button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#modalCreateEstoque">
                    {{ material_symbol('add') | safe }}
                    Nova Movimentação
                    &nbsp;
                </button>
            </div>
            <div class="d-flex align-items-center">
                <div class="h1 mb-0 me-2 text-danger">
                    {{ chart_resumo_caixa_total_saidas | format_reais }}
                </div>
                <div class="me-auto">
                    <div class="text-red d-inline-flex align-items-center lh-1">
                        {{ material_symbol('arrow_upward') | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12 col-lg-4">
    <div class="card bg-purple-lt border-purple">
        <div class="card-header d-flex align-items-center justify-content-between flex-wrap">
            <h5 class="card-title">Margem</h5>
            <small class="opacity-75">
                Dados de <b>{{chart_resumo_caixa_data_inicial | strftime_day}}</b> á <b>{{chart_resumo_caixa_data_final | strftime_day}}</b>
            </small>
        </div>
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="h1 mb-0 me-2 text-purple">
                    {{ chart_resumo_caixa_margem_final | format_reais }}
                </div>
                <div class="me-auto">
                    <div class="text-purple d-inline-flex align-items-center lh-1">
                        {{ material_symbol('sync') | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>