
<div class="col-12">
  <div class="card">
    <div class="table-responsive">
      <table class="table table-vcenter table-striped table-hover" id="table-list">
        <thead class="sticky-top">
          <tr>
            <th class="w-1"></th>
            {% for column in table_columns %}
              <th>{{column}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% if table_data %}
            {% for data in table_data %}
              <tr
              class="cursor-pointer"
              data-bs-payload="{{data.dict() | json}}" 
              >
                <td class="w-1">
                  <input type="checkbox" data-id="{{data.id}}">
                </td>
                {% for value in data.row %}
                  <td
                    {% if table_modal %}
                      data-bs-toggle="modal"
                      data-bs-target="{{table_modal}}"
                    {% elif data.href %}
                      onclick="window.location = '{{data.href}}'"
                    {% endif %}
                  >
                    {{ value | safe }}
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="6">{{table_no_result}}</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
