<div class="modal fade" id="modalEditCaixaMovimentacao" tabindex="-1">
    <form class="modal-dialog" role="document" method="POST" action="{{ url_for('post_caixa_movimentacoes_atualizar') }}">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title ">
            <span class="material-symbols-outlined"> payments </span>
            Editar Movimentação
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" tabindex="-1" aria-label="Close"></button>
        </div>
        <input required readonly type="hidden" class="form-control" name="id" />
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label required" for="data_criacao">Data</label>
            <input required readonly type="datetime-local" class="form-control" name="data_criacao" />
          </div>
          <div class="mb-3">
            <label class="form-label required" for="descricao">Descricao</label>
            <input required type="text" class="form-control" name="descricao" />
          </div>
          <div class="mb-3">
              <label class="form-label required" for="tipo">Tipo</label>
              <select class="form-select" name="tipo" readonly>
                  <option value="Entrada">Entrada</option>
                  <option value="Saida">Saída</option>
              </select>
          </div>
          <div class="mb-3">
            <label class="form-label required" for="valor">Valor</label>
            <div class="input-group input-group-flat">
              <span class="input-group-text"> R$ </span>
              <input name="valor" required type="number" step="any" class="form-control text-end" min="1" />
            </div>
          </div>
          <div class="mb-3 d-none" id="wrapperConfiguracoes">
            <div class="form-label">Configurações</div>
            <label class="form-check form-switch">
              <input name="recebido" class="form-check-input" type="checkbox" >
              <span class="form-check-label">Pagamento Recebido</span>
            </label>
          </div>
          <div class="d-none" id="wrapperQRPix">
            <div class="form-label">Receber Pagamento via QR PIX</div>
            <img class="d-flex mx-auto" id="img_qr_code" src="" alt="QR Code" style="max-height: 300px" class="mt-3 rounded">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn">Atualizar</button>
        </div>
      </div>
    </form>
  </div>

<script>
  document.querySelector('#modalEditCaixaMovimentacao').addEventListener('show.bs.modal', (e) => {
    const modal = e.target;
    const wrapperConfiguracoes = modal.querySelector('#wrapperConfiguracoes');
    const wrapperQRPix = modal.querySelector('#wrapperQRPix');
    wrapperConfiguracoes.classList.add('d-none');
    wrapperQRPix.classList.add('d-none');
  });
  document.querySelector('#modalEditCaixaMovimentacao').addEventListener('shown.bs.modal', (e) => {
    const modal = e.target;
    const wrapperConfiguracoes = modal.querySelector('#wrapperConfiguracoes');
    const wrapperQRPix = modal.querySelector('#wrapperQRPix')
    const tipo = modal.querySelector('select[name="tipo"]').value;
    if(tipo == 'Entrada') {
      wrapperConfiguracoes.classList.remove('d-none');
      wrapperQRPix.classList.remove('d-none');
    }
  });
</script>