{% extends '/layout/app.html' %}

{% block content %}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
              {{ material_symbol('info') | safe }}
              Informações
            </h5>
        </div>
        {% if usuario.dono %}
            <div class="card-body">
                <form action="{{url_for('post_organizacao_index')}}" class="datagrid" method="POST" id="form-organizacao">
                    <input type="hidden" name="id" value="{{organizacao.id}}">
                    <div class="datagrid-item">
                        <div class="datagrid-title">Descrição</div>
                        <input class="form-control" type="text" name="descricao" required value="{{organizacao.descricao}}">
                    </div>
                    <div class="datagrid-item">
                        <div class="datagrid-title">Cidade</div>
                        <input class="form-control" type="text" name="cidade" required value="{{organizacao.cidade}}">
                    </div>
                    <div class="datagrid-item">
                        <div class="datagrid-title">Chave PIX</div>
                        {% if organizacao.chave_pix_valida %}
                            <input class="form-control is-valid" type="text" name="chave_pix" required value="{{organizacao.chave_pix}}">
                            <div class="valid-feedback">Chave PIX válida</div>
                        {% else %}
                            <input class="form-control is-invalid" type="text" name="chave_pix" required value="{{organizacao.chave_pix}}">
                            <div class="invalid-feedback">Essa Chave PIX é inválida</div>
                        {% endif %}
                    </div>
                    <div class="datagrid-item">
                        <div class="datagrid-title">Atualizar</div>
                        <div class="datagrid-content">
                            <button type="submit" class="btn">Atualizar</button>
                        </div>
                    </div>
                </form>
            </div>
            {% else %}
            <div class="card-body">
                <div class="datagrid" method="POST">
                    <input type="hidden" name="id" value="{{organizacao.id}}">
                    <div class="datagrid-item">
                        <div class="datagrid-title">Descrição</div>
                        <input disabled class="form-control" type="text" name="descricao" required value="{{organizacao.descricao}}">
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    
    {% if usuario.dono and organizacao %}
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex flex-column align-items-start cursor-pointer" data-bs-toggle="collapse" data-bs-target="#collapse_configuracoes">
                <h5 class="card-title mb-1">
                    {{ material_symbol('settings') | safe }}
                    Configurações
                </h5>
                <span class="text-muted text-sm">Clique para expandir/fechar</span>
            </div>
            <div class="card-body collapse show" id="collapse_configuracoes">
                <form method="POST" action="{{url_for('post_organizacao_configuracoes')}}" id="form-configuracoes">
                    <input type="hidden" name="id" value="{{organizacao.id}}">
                    <div class="mb-3">
                    <div class="form-label">Unidades de Medida</div>
                    <label class="form-check form-switch">
                        <input name="converter_kg" class="form-check-input" type="checkbox" {{ 'checked' if organizacao.configuracoes.converter_kg else ''}}>
                        <span class="form-check-label">Converter valores maiores que <b>1000g</b> para <b>Kg</b></span>
                    </label>
                    <label class="form-check form-switch">
                        <input name="converter_kg_sempre" class="form-check-input" type="checkbox" {{ 'checked' if organizacao.configuracoes.converter_kg_sempre else ''}}>
                        <span class="form-check-label">
                            Converter todos os valores para <b>Kg</b>
                            <br>
                            <small class="text-danger">* Essa opção sobrepõe a anterior</small>
                        </span>
                    </label>
                    </div>
                    <div class="mb-3">
                    <div class="form-label">Cálculos</div>
                    <label class="form-check form-switch">
                        <input name="usar_custo_med" class="form-check-input" type="checkbox" {{ 'checked' if organizacao.configuracoes.usar_custo_med else ''}}>
                        <span class="form-check-label">
                            Utilizar <b>Custo/grama médio (R$)</b> em vez de <b>Custo/grama (R$)</b>
                            <br>
                            <small class="text-muted">O campo <b>Custo/grama médio</b> é calculado a partir dos cadastros de <b>Movimentações de Compra</b> de um insumo</small>
                            <br>
                            <small class="text-danger">* Insumos sem nenhum registro de Movimentação de compra não são afetados por essa configuração</small>
                            <br>
                            <small class="text-danger">* Essa opção afeta a precificação das receitas</small>
                        </span>
                    </label>
                    </div>
                    <div class="mb-3">
                        <div class="form-label">Aplicar Configurações</div>
                        <button class="btn">Aplicar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                {{ material_symbol('groups') | safe }}
                Usuários
            </h5>
            {% if usuario.dono %}
                <div class="dropdown ms-auto">
                <a class="btn dropdown-toggle" data-bs-toggle="dropdown">Ações</a>
                <div class="dropdown-menu">
                    <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalCreateUsuario">
                    {{material_symbol('chevron_left') | safe }}
                    Adicionar Usuário
                    </button>
                    <button class="dropdown-item" id="btn-excluir-selecionados" disabled data-bs-toggle="modal" data-bs-target="#modalConfirm" data-bs-payload='{"action": "{{url_for('post_organizacao_usuarios_excluir')}}", ".text-secondary": "Excluir usuários selecionados?"}'>
                    {{material_symbol('remove') | safe }}
                    Remover Selecionados
                    </button>
                </div>
                </div>
            {% endif %}
        </div>
        <div class="table-responsive">
            <table class="table table-vcenter table-striped table-hover">
                <thead class="sticky-top">
                    <tr>
                        {% if usuario.dono %}
                            <th class="w-1"></th>
                        {% endif %}
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Dono</th>
                    </tr>
                </thead>
                <tbody>
                    {% with main_usuario = usuario %}
                        {% for usuario in usuarios %}
                                {% if main_usuario.dono %}
                                    {% if main_usuario.id == usuario.id %}
                                        <tr class="cursor-pointer">
                                            <td class="w-1"></td>
                                            <td>{{usuario.nome}} (você)</td>
                                            <td>{{usuario.email}}</td>
                                            <td>{{'✔' if usuario.dono else '✖'}}</td>
                                        </tr>
                                    {% else %}
                                        <tr class="cursor-pointer" data-bs-payload="{{usuario.dict() | json}}">
                                            <td class="w-1">
                                                <input type="checkbox" name="checkbox_{{usuario.id}}" id="checkbox_{{usuario.id}}" data-id="{{usuario.id}}">
                                            </td>
                                            <td data-bs-toggle="modal" data-bs-target="#modalEditUsuario">{{usuario.nome}}</td>
                                            <td data-bs-toggle="modal" data-bs-target="#modalEditUsuario">{{usuario.email}}</td>
                                            <td data-bs-toggle="modal" data-bs-target="#modalEditUsuario">
                                                {{'✔' if usuario.dono else '✖'}}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% else %}
                                    <tr class="cursor-pointer">
                                        <td>{{usuario.nome}}</td>
                                        <td>{{usuario.email}}</td>
                                        <td>{{'✔' if usuario.dono else '✖'}}</td>
                                    </tr>
                                {% endif %}
                        {% endfor %}
                    {% endwith %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

