<div class="modal" id="modalEditEstoque" tabindex="-1">
    <form class="modal-dialog" role="document" method="POST" action="{{ url_for('post_estoques_atualizar') }}">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title ">
            <span class="material-symbols-outlined"> inventory_2 </span>
            Editar Movimentação
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="id">
          <div class="mb-3">
            <label for="data_criacao" class="form-label required">Data</label>
            <input required readonly type="datetime-local" class="form-control" name="data_criacao" />
          </div>
          <hr>
          <div class="mb-3">
            <label for="descricao" class="form-label required">Descricao</label>
            <input required type="text" class="form-control" name="descricao" />
          </div>
          <div class="mb-3">
            <label for="valor_pago" class="form-label required">Valor Pago</label>
            <div class="input-group input-group-flat">
              <span class="input-group-text"> R$ </span>
              <input name="valor_pago" required type="number" step="any" class="form-control text-end" min="1" />
            </div>
          </div>
          <div class="mb-3" id="fieldset-ingedient-id">
            <label for="ingrediente_id" class="form-label required">Ingrediente</label>
            <select readonly class="form-select" name="ingrediente_id">
              <option selected value="-1">Selecionar</option>
              {% for ingrediente in ingredientes %}
                <option value="{{ingrediente.id}}" data-custo_p_grama="{{ingrediente.custo_p_grama}}">{{ingrediente.nome | title}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3" id="fieldset-quantidade-ingrediente" style="display: none;">
            <label for="quantidade" class="form-label required">Quantidade (g)</label>
            <div class="input-group input-group-flat">
              <input type="number" step="any" name="quantidade" class="form-control pe-0" />
              <span class="input-group-text"> g </span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-toggle="modal" data-bs-target="#modalDeleteEstoque" data-bs-payload="" class="btn btn-ghost-danger me-auto">Excluír</button>
          <button type="submit" class="btn btn-success">Atualizar</button>
        </div>
      </div>
    </form>
  </div>

  <script>
  const modalEditselectIngrediente = document.querySelector('#modalEditEstoque select[name="ingrediente_id"]');

  const modalEditfieldSetIngredienteID = document.querySelector('#modalEditEstoque #fieldset-ingedient-id')
  const modalEditfieldSetQuantidadeIngrediente = document.querySelector('#modalEditEstoque #fieldset-quantidade-ingrediente')
  
  document.querySelector('#modalEditEstoque').addEventListener('shown.bs.modal', (e) => {
    if(modalEditselectIngrediente.value) {
      modalEditfieldSetIngredienteID.style.display = 'block';
      modalEditfieldSetQuantidadeIngrediente.style.display = 'block';
    } else {
      modalEditfieldSetIngredienteID.style.display = 'none';
      modalEditfieldSetQuantidadeIngrediente.style.display = 'none';
    }
  });
  </script>