<div class="modal" id="modalCreateEstoque" tabindex="-1">
    <form class="modal-dialog" role="document" method="POST" action="{{ url_for('post_estoques_index') }}">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title ">
            <span class="material-symbols-outlined"> inventory_2 </span>
            Nova Movimentação
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="descricao" class="form-label required">Tipo</label>
            <select name="descricao" class="form-select">
              <option value="Compra">Compra</option>
              <option value="Consumo Ingrediente">Consumo Ingrediente</option>
              <option value="Uso em Receita">Uso em Receita</option>
              <option value="Outros">Outros</option>
            </select>
          </div>
          <hr>
          <div class="mb-3" id="fieldset-valor_pago">
            <label for="valor_pago" class="form-label required">Valor Pago</label>
            <div class="input-group input-group-flat">
              <span class="input-group-text"> R$ </span>
              <input name="valor_pago" required type="number" step="any" class="form-control text-end" min="1" />
            </div>
          </div>
          <div id="datagrid-ingrediente">
            <div class="mb-3">
              <label for="ingrediente_id" class="form-label required">Ingrediente</label>
              <select class="form-select" name="ingrediente_id">
                <option selected value="-1">Selecionar</option>
                {% for ingrediente in ingredientes %}
                  <option value="{{ingrediente.id}}" data-custo_p_grama="{{ingrediente.custo_p_grama}}">{{ingrediente.nome | title}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3" id="fieldset-quantidade-ingrediente" style="display: none;">
              <label for="quantidade_ingrediente" class="form-label required">Quantidade</label>
              <div class="input-group input-group-flat">
                <input type="number" step="any" name="quantidade_ingrediente" class="form-control pe-0" min="1" />
                <span class="input-group-text"> g </span>
              </div>
            </div>
          </div>
          <div id="datagrid-receita" style="display: none;">
            <div class="mb-3">
              <label for="receita_id" class="form-label required">Receita</label>
              <select class="form-select" name="receita_id">
                <option selected value="-1">Selecionar</option>
                {% for receita in receitas %}
                  <option value="{{receita.id}}" data-custo_p_grama="{{receita.custo_p_grama}}">{{receita.nome | title}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3" id="fieldset-quantidade-receita" style="display: none;">
              <label for="quantidade_receita" class="form-label required">Quantidade</label>
              <input class="form-control" type="number" step="any" name="quantidade_receita">
              <small class="text-muted text-sm">Quantas receitas foram feitas?</small>
            </div>
          </div>
          <div id="datagrid-descricao-customizada" style="display: none;">
            <div class="mb-3">
              <label for="descricao_customizada" class="form-label required">Descrição</label>
              <input type="text" name="descricao_customizada" class="form-control pe-0" min="1" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn me-auto" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Registrar Gasto</button>
        </div>
      </div>
    </form>
  </div>

<script>
  const fieldSetQuantidadeIngrediente = document.querySelector('#fieldset-quantidade-ingrediente')
  const fieldSetQuantidadeReceita = document.querySelector('#fieldset-quantidade-receita')
  const fieldSetValorPago = document.querySelector('#fieldset-valor_pago');
  const datagridReceita = document.querySelector('#datagrid-receita');
  const datagridIngrediente = document.querySelector('#datagrid-ingrediente');
  const datagridDesricaoCustomizada = document.querySelector('#datagrid-descricao-customizada');

  document.querySelector('#modalCreateEstoque select[name="ingrediente_id"]').addEventListener('change', function(e) {
    console.log(this.value);
    if(this.value != -1) {
      fieldSetQuantidadeIngrediente.style.display = 'block';
    } else {
      fieldSetQuantidadeIngrediente.style.display = 'none';
    }
  });

  document.querySelector('#modalCreateEstoque select[name="receita_id"]').addEventListener('change', function(e) {
    console.log(this.value);
    if(this.value != -1) {
      fieldSetQuantidadeReceita.style.display = 'block';
    } else {
      fieldSetQuantidadeReceita.style.display = 'none';
    }
  });

  document.querySelector('#modalCreateEstoque select[name="descricao"]').addEventListener('change', function (e) {
    if(this.value == 'Uso em Receita') {
      datagridReceita.style.display = 'grid';
      datagridIngrediente.style.display = 'none';
      datagridDesricaoCustomizada.style.display = 'none';
    } else if(this.value == 'Consumo Ingrediente' || this.value == 'Compra') {
      datagridReceita.style.display = 'none';
      datagridIngrediente.style.display = 'grid';
      datagridDesricaoCustomizada.style.display = 'none';
    } else {
      datagridReceita.style.display = 'none';
      datagridIngrediente.style.display = 'none';
      datagridDesricaoCustomizada.style.display = 'grid';
    }

    if(this.value == 'Compra' || this.value == 'Outros') {
      fieldSetValorPago.style.display = 'block';
    } else {
      fieldSetValorPago.style.display = 'none';
    }
  });
</script>