<div class="modal fade" id="modalCreateIngrediente" tabindex="-1">
    <form class="modal-dialog" role="document" method="POST" action="{{ url_for('post_ingredientes_index') }}">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title ">
            <span class="material-symbols-outlined"> package_2 </span>
            Novo Ingrediente
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="nome" class="form-label required">Nome</label>
            <input type="text" name="nome" id="input_nome" class="form-control" autocomplete="off">
          </div>
          <div class="mb-3">
            <label for="custo" class="form-label required">Custo</label>
            <div class="input-group input-group-flat">
              <span class="input-group-text"> R$ </span>
              <input name="custo" required type="number" step="any" class="form-control text-end" min="1" />
            </div>
          </div>
          <div class="mb-3">
            <label for="peso" class="form-label required">Peso (por pacote)</label>
            <div class="input-group input-group-flat">
              <input required type="number" step="any" name="peso" class="form-control pe-0" min="1" />
              <span class="input-group-text"> g </span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn me-auto" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Criar Ingrediente</button>
        </div>
      </div>
    </form>
  </div>