<div class="modal" id="modalCreateIngrediente" tabindex="-1">
    <form class="modal-dialog" role="document" method="POST" action="{{ url_for('post_ingredientes_index') }}">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title ">
            <span class="material-symbols-outlined"> package_2 </span>
            Novo Ingrediente
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="datagrid">
            <div class="datagrid-item">
              <div class="datagrid-title">Nome</div>
              <input required type="text" class="form-control" name="nome" />
            </div>
          </div>
          <br>
          <div class="datagrid">
            <div class="datagrid-item">
              <div class="datagrid-title">Custo</div>
              <div class="datagrid-content">
                <div class="input-group input-group-flat">
                  <span class="input-group-text"> R$ </span>
                  <input name="custo" required type="number" step="any" class="form-control text-end" min="1" />
                </div>
              </div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Peso (por pacote)</div>
              <div class="datagrid-content">
                <div class="input-group input-group-flat">
                  <input required type="number" step="any" name="peso" class="form-control pe-0" min="1" />
                  <span class="input-group-text"> g </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn me-auto" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Criar Ingrediente</button>
        </div>
      </div>
    </form>
  </div>