
<div class="modal" id="editarIngredienteModal" tabindex="-1">
    <form class="modal-dialog" role="document" method="POST" action="{{ url_for('post_ingredientes_editar') }}">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary">
            <span class="material-symbols-outlined"> package_2 </span>
            Editar Ingrediente
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="datagrid">
            <div class="datagrid-item">
              <div class="datagrid-title">ID</div>
              <input required readonly type="number" class="form-control" name="id" />
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Nome</div>
              <input required type="text" class="form-control" name="nome" />
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Custo</div>
              <div class="mb-3 datagrid-content">
                <div class="input-group input-group-flat">
                  <span class="input-group-text"> R$ </span>
                  <input name="custo" required type="number" class="form-control text-end pe-0" min="1" />
                </div>
              </div>
            </div>
            <div class="datagrid-item">
              <div class="datagrid-title">Peso</div>
              <div class="mb-3 datagrid-content">
                <div class="input-group input-group-flat">
                  <input required type="number" name="peso" class="form-control pe-0" min="1" />
                  <span class="input-group-text"> g </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn me-auto" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn">Atualizar</button>
        </div>
      </div>
    </form>
  </div>