<div class="col-12 d-none">
  <div class="card">
    <div class="card-body">
      <form class="datagrid">
        <div class="datagrid-item">
          <div class="datagrid-title">Nome</div>
          <div class="datagrid-content">
              <input type="text" class="form-control">
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Filtrar</div>
          <div class="datagrid-content">
            <input type="submit" class="btn" value="Filtrar">
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Limpar</div>
          <div class="datagrid-content">
            <input type="submit" class="btn" value="Limpar">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="card">
    <div class="table-responsive">
      <table class="table table-vcenter">
        <thead class="sticky-top">
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Custo (R$)</th>
            <th>Peso (g)</th>
            <th>Custo/grama (R$)</th>
            <th>Custo/grama méd. (R$)</th>
            <th>Estoque Atual</th>
            <th class="w-1"></th>
          </tr>
        </thead>
        <tbody>
          {% for ingrediente in ingredientes %}
          <tr>
            <td>{{ ingrediente.id }}</td>
            <td>{{ ingrediente.nome }}</td>
            <td>{{ ingrediente.custo | format_reais }}</td>
            <td>{{ ingrediente.peso | format_quantity | safe }}</td>
            <td>{{ ingrediente.custo_p_grama | format_reais }}</td>
            <td>{{ ingrediente.custo_p_grama_medio | format_reais }}</td>
            <td>{{ ingrediente.estoque_atual | format_stock | safe }}</td>
            <td>
              <div class="btn-group">
                <a class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#modalUpdateIngrediente" data-bs-payload="{{ingrediente.model_dump_json()}}">Editar</a>
                <a class="btn btn-sm btn-ghost-danger" data-bs-toggle="modal" data-bs-target="#modalDeleteIngrediente" data-bs-payload="{{ingrediente.model_dump_json()}}">Excluir</a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

