
<div class="modal" id="modalLogout" tabindex="-1">
  <form class="modal-dialog modal-sm" role="document" method="GET" action="{{ url_for('get_logout') }}">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-status bg-danger"></div>
      <div class="modal-body text-center py-4">
        {{ material_symbol('logout') | safe }}
        <h3>Sair da sua conta?</h3>
        <div class="text-secondary">Você terá que fazer login novamente.</div>
      </div>
      <div class="modal-footer">
        <div class="w-100">
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-danger w-100">Sair</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>